<footer class="container">
    <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="60px" class="container2">
        <div fxLayout="column" fxLayoutAlign="center start">
            <p>
                Quem é Delivery2U
            </p>
            <p>
                Política e Privacidade
            </p>
            <p>
                Fale Conosco
            </p>
        </div>
        <div fxLayout="column" fxLayoutAlign="end center" >
            <p>
                falecom@delivery2u.com.br
            </p>
        </div>
        <div fxLayout="column" fxLayoutAlign="center end" >
            <p>
                Cadastre sua Loja
            </p>
            <p>
                Seja um Parceiro de Entregas!
            </p>
            <p>
                Seja dono do Delivery2U na sua Cidade!
            </p>
        </div>
    </div>
    <a>
        <img class="footerImg" src="assets/paginaum/footer.png" alt="footer">
    </a>
</footer>
