<body class="cor">
    <div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
        <div fxLayout="column" fxLayoutAlign="center start">
            <a>
                <img class="celularImg" src="assets/paginaum/celular.png" alt="celular">
            </a>
            <h2 class="baixar">Baixe agora nosso app!</h2>
            <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="100px">
                <img class="appStoreImg" src="assets/paginaum/appstore.png" alt="appstore">
                <img class="googlePlayImg" src="assets/paginaum/googleplay.png" alt="googleplay">
            </div>
        </div>
        <div  fxLayout="column" fxLayoutAlign="end start">
            <div class="texto1" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="40px" >
                <h2 class="delivery">Delivery <br/> 2U</h2>
                <h2 class="pedido">PARA TODO PEDIDO <br/> UMA ENTREGA!</h2>
            </div>
                <p class="texto2">
                    Aplicativo de compras de fácil usabilidade, tanto para o lojista quanto para nossos usuários.
                    O app é bem intuitivo, com cores leves que ajudam os usuários no momentos da decisão
                    de compra.Delivery2U foi desenvolvido para ajudar as empresas a aumentarem suas vendas
                    e ajudar os usuários a realizarem compras no conforto da sua casa/escritório
                    encontrando estabelecimentos com preços justos que possam realizar a entrega com maior
                    segurança e pontualidade.
                </p>
        </div>
    </div>
    <a>
        <img class="headerImg" src="assets/paginaum/header.png" alt="header">
    </a>
    <a>
        <img class="detalheUmImg" src="assets/paginaum/detalhe1.png" alt="detalhe1">
        <img class="detalheDoisImg" src="assets/paginaum/detalhe2.png" alt="detalhe2">
    </a>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="80px">
        <div class="circulo" fxLayoutAlign="start center">
            <mat-card></mat-card>
        </div>

        <div class="circulo" fxLayoutAlign="center center">
            <mat-card></mat-card>
        </div>

        <div class="circulo" fxLayoutAlign="end center">
            <mat-card></mat-card>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="270px">
        <div class="lorem" fxLayoutAlign="start center">
            Lorem <br/> Ipsom
        </div>
        <div class="lorem" fxLayoutAlign="start center">
            Lorem <br/> Ipsom
        </div>
        <div class="lorem" fxLayoutAlign="start center">
            Lorem <br/> Ipsom
        </div>
    </div>

    <h2 class="loremIpsum">Lorem ipsum dolor sit amet, consectetur</h2>

    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="containerCard">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <img mat-card-image src="assets/paginaum/foto1.png" alt="foto1" class="foto">
                <div fxLayout="column" fxLayoutAlign="center start">
                    <mat-card-title  class="txtUser">
                        Usuário Usuário
                    </mat-card-title>
                    <mat-card-subtitle class="txtLorem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris finibus ligula a ornare tincidunt.
                        Orci varius natoque penatibus et magnis dis parturient montes,
                    </mat-card-subtitle>
                </div>               
            </div>
        </mat-card>
        <mat-card class="containerCard">
            <div fxLayout="row" fxLayoutAlign="center center" >
                
                <div fxLayout="column" fxLayoutAlign="center end">
                    <mat-card-title  class="txtUser">
                        Usuário Usuário
                    </mat-card-title>
                    <mat-card-subtitle class="txtLorem2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris finibus ligula a ornare tincidunt.
                        Orci varius natoque penatibus et magnis dis parturient montes,
                    </mat-card-subtitle>
                </div>               
                <img mat-card-image src="assets/paginaum/foto2.png" alt="foto2" class="foto">
            </div>
        </mat-card>
        <mat-card class="containerCard">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <img mat-card-image src="assets/paginaum/foto3.png" alt="foto3" class="foto">
                <div fxLayout="column" fxLayoutAlign="center start">
                    <mat-card-title  class="txtUser">
                        Usuário Usuário
                    </mat-card-title>
                    <mat-card-subtitle class="txtLorem">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris finibus ligula a ornare tincidunt.
                        Orci varius natoque penatibus et magnis dis parturient montes,
                    </mat-card-subtitle>
                </div>               
            </div>
        </mat-card>
    </div>

    <h2 class="baixeApp">Baixe agora o nosso app!</h2>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="200px">
        <img class="appStoreImg" src="assets/paginaum/appstore.png" alt="appstore">
        <img class="googlePlayImg" src="assets/paginaum/googleplay.png" alt="googleplay">
    </div>
</body>
