<mat-toolbar class="container" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayoutGap="50px">
        <a class="logo" routerLink="/">
            2U
        </a>
        <a class="home" routerLink="/">
            Home
        </a>
        <a class="entregas" routerLink="entregas">
            Quero ser um Parceiro de Entregas
        </a>
        <a class="estabelecimento" routerLink="estabelecimento">
            Quero Cadastrar meu Estabelecimento
        </a>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>

<app-footer></app-footer>