<body class="cor">
    <a>
        <img class="entregadorImg" src="assets/paginadois/entregador.png" alt="estabelecimento">
    </a>

    <h2 class="titulo">Faça seu cadastro e comece fazer suas entregas!</h2>

    <a>
        <img class="detalheUmImg" src="assets/paginadois/detalhe1.png" alt="detalhe1">
        <img class="detalheDoisImg" src="assets/paginadois/detalhe2.png" alt="detalhe2">
    </a>

    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="container">
            <p class="dados">
                Dados Pessoais
            </p>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <input matInput placeholder="Nome" class="containerInput">
                <input matInput placeholder="Sobrenome" class="containerInput">
                <input matInput placeholder="Email" class="containerInput">
                <input matInput placeholder="Senha" class="containerInput">
                <input matInput placeholder="Confirmar Senha" class="containerInput">
                <input matInput placeholder="Celular" class="containerInput">
                <input matInput placeholder="RG" class="containerInput">
                <input matInput placeholder="CPF" class="containerInput">
                <input matInput placeholder="CNPJ" class="containerInput">
                <input matInput placeholder="Cidade de Atuação" class="containerInput">
            </div>
                <p class="dados">
                    Dados Bancários
                </p>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <input matInput placeholder="Banco" class="containerInput">
                <input matInput placeholder="Tipo de Conta" class="containerInput">
                <input matInput placeholder="Agência" class="containerInput">
                <input matInput placeholder="Conta" class="containerInput">
                <input matInput placeholder="Nome" class="containerInput">
                <input matInput placeholder="CPF" class="containerInput">
            </div>
                <p class="dados">
                    Dados do Veículo
                </p>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <input matInput placeholder="Tipo de Veículo" class="containerInput">
                <input matInput placeholder="Cor do Veículo" class="containerInput">
                <input matInput placeholder="Placa do Veículo" class="containerInput">
                <input matInput placeholder="Foto da sua habilitação" class="containerInput">
                <input matInput placeholder="Foto dos documentos do veículo" class="containerInput">
                <input matInput placeholder="Sua foto com a CNH" class="containerInput">
    
                <mat-checkbox class="check">Li e aceito os termos do contrato</mat-checkbox>

                <button class="botao">
                    Enviar
                </button>
        
            </div>
        </mat-card>
    </div>
</body>
